.dev_roadmap_container {
  max-width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background-color: black;
  .header_sec {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    h1 {
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 50px;
      color: #ffffff;
    }
    p {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      color: #ffffff;
      text-align: center;
    }
  }
  .dev_roadmap_body {
    width: 80%;
    height: auto;
    margin: 0 auto;
    .roadmap_item {
      width: 100%;
      height: auto;
      margin-bottom: 3rem;
      .sec_heading {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        h1 {
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 36px;
          color: #b250ff;
          text-align: center;
        }
        .is_white {
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 36px;
          color: white;
        }
      }
      .section_box {
        background: #3b3434;
        padding: 1rem;
        p {
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          color: #ffffff;
          margin-bottom: 0;
        }
      }
    }
  }
}



@media only screen and (max-width: 767px) {
  .dev_roadmap_container {
    max-width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    background-color: black;
    .header_sec {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 1rem auto;
      h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        color: #ffffff;
        margin-top: 1rem;
      }
      p {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #ffffff;
        text-align: center;
        padding: 10px;
      }
    }
    .dev_roadmap_body {
      width: 100%;
      height: auto;
      margin: 0 auto;
      .roadmap_item {
        width: 100%;
        height: auto;
        margin-bottom: 2rem;
        .sec_heading {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          h1 {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            color: #b250ff;
            text-align: center;
            padding: 0 10px;
            text-align: center;
          }
          .is_white {
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            color: white;
            padding: 0 10px;
            text-align: center;
          }
        }
        .section_box {
          background: #3b3434;
          padding: 1rem;
          p {
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            color: #ffffff;
            margin-bottom: 0;
            padding: 0 10px;
            text-align: center;
          }
        }
      }
    }
  }
}